:root{
    --red-color: rgb(177,0,0);
    --gray-color: rgb(205, 205, 205);
    --background-color: rgb(14, 14, 14, 1);
    --section-color: rgb(22, 22, 22);
    --subsection-color: rgb(32, 32, 32);
}


@media (min-width: 0px) {
    h3 {
        font-size: 2em;
    }
    h5 {
        font-size: 1.5em;
    }
    .accordion{
        font-size: 1.2em;
    }
    p{
        font-size: 1.2em;
    }
    a{
        font-size: 1.2em;
    }
    li{
        font-size: 1.2em;
    }
    .banner{
        object-fit: cover;
        min-width:1280px;
        margin: 0;
    }
}


@media (min-width: 1280px) {
    h3 {
        font-size: 2em;
    }
    h5 {
        font-size: 1.5em;
    }
    .accordion{
        font-size: 1.2em;
    }
    p{
        font-size: 1.2em;
    }
    a{
        font-size: 1.2em;
    }
    li{
        font-size: 1.2em;
    }
    .banner{
        min-width:100%;
        width:100%;
        margin: 0;
    }
}

* {
    width: 100%;
    font-family: "Courier New";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


h2 {
    color: var(--gray-color);
    font-weight: 1000;
}
h3 {
    color: var(--gray-color);
    font-weight: 700;
}
h5 {
    color: var(--gray-color);
    font-weight: 700;
}
p {
    font-weight: 500;
}
li {
    font-weight: 200;
    margin-left: 2em;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    color: var(--gray-color);
    margin:0;
    padding: 0;
    overflow-x: hidden; 
}

.whole {
    display: grid;
    background-color: var(--background-color);
    overflow-wrap: normal;
    padding: 1em;
    text-align: left;
}


.top {
    background-color: var(--background-color);
    overflow-wrap: normal;    
    position: relative;
    display:block;
    margin:0;
    
}

.top h1 {
    color: var(--gray-color);
    font-weight: 1000;
    font-size: 4em;
    margin:0px;
    position: absolute;
    top: 16%;
    left: 4%;
    background-color: transparent;
}


.top h2 {
    font-size: 2.5em;
    color: var(--gray-color);
    font-weight: 1000;
    margin:0px;
    position: absolute;
    top: 6%;
    left: 4%;
    background-color: transparent;
}

.fade {
    position: absolute;
    margin:0px;
    background-image: linear-gradient(to top, var(--background-color), rgba(0,0,0,0));
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.image {
    flex-shrink: 0; /* Prevents the image from shrinking */
    margin-right: 10px; /* Adjust the spacing between text and image */
  }

.grid-container {
    align-items: left;
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    row-gap: 2em;
    overflow-wrap: normal;    
    padding: 2em;
}

.section {
    background-color: var(--section-color);
    align-items: left;
    text-align: left;
    display: inline;
    max-width: 80em;
    overflow-wrap: normal;    
    padding: 2em;
}


.subsection {
    background-color: var(--subsection-color);
    display: inline-block;
    max-width: 180em;
    overflow-wrap: normal;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

