:root{
    --red-color: rgb(177,0,0);
    --gray-color: rgb(205, 205, 205);
    --background-color: rgb(14, 14, 14, 1);
    --section-color: rgb(22, 22, 22);
    --subsection-color: rgb(32, 32, 32);
    --table-color: rgb(44, 44, 44);
    --link-color: rgb(100, 100, 255);
}


@media (min-width: 0px) {
    h3 {
        font-size: 2em;
    }
    h5 {
        font-size: 1.5em;
    }
    .accordion{
        font-size: 1.2em;
    }
    p{
        font-size: 1em;
    }
    a{
        font-size: 1em;
    }
    li{
        font-size: 1em;
    }
    .banner{
        object-fit: cover;
        min-width:1280px;
        margin: 0;
    }
}


@media (min-width: 1280px) {
    h3 {
        font-size: 2em;
    }
    h5 {
        font-size: 1.5em;
    }
    .accordion{
        font-size: 1.2em;
    }
    p{
        font-size: 1em;
    }
    a{
        font-size: 1em;
    }
    li{
        font-size: 1em;
    }
    .banner{
        min-width:100%;
        width:100%;
        margin: 0;
    }
}

* {
    width: 100%;
    font-family: "Courier New";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


h2 {
    color: var(--gray-color);
    font-weight: 1000;
}
h3 {
    color: var(--gray-color);
    font-weight: 700;
}
h5 {
    color: var(--gray-color);
    font-weight: 600;
}
p {
    font-weight: 500;
}
a {
    color: var(--link-color);
    font-weight: 600;
}

a:hover {
    color: var(--red-color);
}
li {
    font-weight: 200;
    margin-left: 2em;
}

table {
    background-color: var(--table-color);
    font-weight: 500;
    display: inline-block;
    width: 50%;
    overflow-wrap: normal;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-collapse: collapse;
  }
  th, td {
    text-align: left; /* Align text to the left */
  }
  th {
    background-color: var(--table-color);
  }
  tr:nth-child(odd) {
    background-color: var(--subsection-color);
  }
  tr:nth-child(even) {
    background-color: var(--section-color);
  }
  tr:hover {
    background-color: var(--red-color);
  }

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    color: var(--gray-color);
    margin:0;
    padding: 0;
    overflow-x: hidden; 
}

.whole {
    display: grid;
    background-color: var(--background-color);
    overflow-wrap: normal;
    padding: 1em;
    text-align: left;
}


.top {
    background-color: var(--background-color);
    overflow-wrap: normal;    
    position: relative;
    display:block;
    margin:0;
    
}

.top h1 {
    color: var(--gray-color);
    font-weight: 1000;
    font-size: 4em;
    margin:0px;
    position: absolute;
    top: 16%;
    left: 4%;
    background-color: transparent;
}


.top h2 {
    font-size: 2.5em;
    color: var(--gray-color);
    font-weight: 1000;
    margin:0px;
    position: absolute;
    top: 6%;
    left: 4%;
    background-color: transparent;
}

.fade {
    position: absolute;
    margin:0px;
    background-image: linear-gradient(to top, var(--background-color), rgba(0,0,0,0));
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.image {
    margin: 0.5em;
    width: auto;
    height: auto;
  }

.image:hover {
    border-style: solid;
    border-width: 4px;
    border-color: var(--red-color);
    margin: 0.5em;
    transform: scale(1.07); /* make it bigger */
}

.grid-container {
    align-items: left;
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    row-gap: 2em;
    overflow-wrap: normal;    
    padding: 2em;
}

.section {
    background-color: var(--section-color);
    align-items: left;
    text-align: left;
    display: inline;
    max-width: 120em;
    overflow-wrap: normal;    
    padding: 2em;
    
}


.subsection {
    background-color: var(--subsection-color);
    display: inline-block;
    max-width: 120em;
    overflow-wrap: normal;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

